absl-py==0.15.0
adabelief-pytorch==0.2.1
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
alembic==1.8.1
anndata==0.8.0
appdirs==1.4.4
argon2-cffi==21.1.0
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.2.0
autopage==0.5.1
autopep8==2.0.0
Babel==2.11.0
backcall==0.2.0
bamnostic==1.1.8
beautifulsoup4==4.11.1
bleach==4.1.0
cachetools==4.2.4
catboost==1.1.1
category-encoders==2.5.1.post0
cellrank==1.5.1
certifi==2019.11.28
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.1.1
click==8.0.4
cliff==4.1.0
clikit==0.6.2
cloudpickle==2.0.0
cmaes==0.9.0
cmd2==2.4.2
cmdstanpy==1.0.8
colorlog==6.7.0
convertdate==2.4.0
crashtest==0.3.1
cubinlinker-cu11==0.3.0
cuda-python==11.7.0
cudf-cu11==22.10.0
cugraph-cu11==22.10.0
cuml-cu11==22.10.0
cupy-cuda11x==11.3.0
cycler==0.11.0
Cython==0.29.22
dask==2022.7.0
dask-cuda==22.10.0
dask-cudf-cu11==22.10.0
databricks-cli==0.17.3
dbus-python==1.2.16
debugpy==1.5.1
decorator==5.1.0
deepspeed==0.6.5
defusedxml==0.7.1
Deprecated==1.2.13
dgl-cu113==0.10a221126
dglgo==0.0.2
dill==0.3.6
distlib==0.3.6
distributed==2022.9.2
distro==1.4.0
docker==6.0.1
docopt==0.6.2
docutils==0.19
dunamai==1.13.2
entrypoints==0.3
ephem==4.1.3
episcanpy==0.3.2
et-xmlfile==1.1.0
extratools==0.8.2.1
fastjsonschema==2.16.2
fastrlock==0.8.1
filelock==3.8.2
Flask==2.2.2
flatbuffers==2.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
fst-pso==1.8.1
future==0.18.2
FuzzyTM==2.0.5
gast==0.4.0
gensim==4.3.0
get_version==3.5.4
gitdb==4.0.10
GitPython==3.1.29
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gorilla==0.4.0
graphtools==1.5.2
graphviz==0.20
grpcio==1.41.1
gunicorn==20.1.0
h5py==3.5.0
HeapDict==1.0.1
hijri-converter==2.2.4
hjson==3.0.2
holidays==0.17.2
httpstan==4.8.2
idna==2.8
igraph==0.10.1
imagesize==1.4.1
implicit==0.6.2
importlib-metadata==5.1.0
importlib-resources==5.4.0
install==1.3.5
ipykernel==5.1.1
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.1.2
jedi==0.17.2
Jinja2==3.0.3
joblib==1.2.0
jsonschema==4.2.0
jupyter==1.0.0
jupyter-client==7.0.6
jupyter-console==6.4.0
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions @ https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
jupyter-core==4.9.1
jupyter-highlight-selected-word==0.2.0
jupyter-http-over-ws==0.0.8
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.6.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jupytext==1.14.1
kaggle==1.5.12
keras==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kneed==0.8.1
korean-lunar-calendar==0.3.1
legacy-api-wrap==1.2
leidenalg==0.9.0
libclang==12.0.0
lightgbm==3.3.3
littleutils==0.2.2
llvmlite==0.39.1
locket==1.0.0
loompy==3.0.7
LunarCalendar==0.0.9
lxml==4.9.1
Mako==1.2.4
Markdown==3.3.4
markdown-it-py==2.1.0
MarkupSafe==2.1.1
marshmallow==3.19.0
matplotlib==3.5.3
matplotlib-inline==0.1.3
mdit-py-plugins==0.3.1
mdurl==0.1.2
miniful==0.0.6
mistune==0.8.4
mlflow==1.8.0
mlxtend==0.21.0
mofapy2==0.6.7
mpi4py==3.1.4
mpmath==1.2.1
msgpack==1.0.4
mudata==0.2.1
multidict==6.0.2
muon==0.1.2
natsort==8.2.0
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.7.0
nest-asyncio==1.5.1
networkx==3.0
ninja==1.10.2.3
notebook==6.4.5
numba==0.56.4
numexpr==2.8.4
numpy==1.23.4
numpy-groupies==0.9.20
numpydoc==1.5.0
nvtx==0.2.5
oauthlib==3.1.1
ogb==1.3.5
openpyxl==3.0.10
opt-einsum==3.3.0
optuna==2.9.1
outdated==0.2.2
packaging==23.0
pandarallel==1.6.3
pandas==1.5.1
pandocfilters==1.5.0
parso==0.7.1
partd==1.2.0
pastel==0.2.1
patsy==0.5.3
pbr==5.11.0
pexpect==4.8.0
phate==1.0.9
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.6.0
plotly==5.9.0
polars==0.15.13
prefixspan==0.5.2
prettytable==3.5.0
progressbar2==4.2.0
prometheus-client==0.12.0
prometheus-flask-exporter==0.21.0
prompt-toolkit==3.0.22
prophet==1.1.1
protobuf==3.20.3
psutil==5.8.0
ptxcompiler-cu11==0.7.0
ptyprocess==0.7.0
py-cpuinfo==8.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.10.0
pycparser==2.20
pydantic==1.10.2
pyDeprecate==0.3.1
pyFUME==0.2.25
pygam==0.8.0
Pygments==2.13.0
PyGObject==3.36.0
pygpcca==1.0.4
PyGSP==0.5.1
PyJWT==2.6.0
pylev==1.4.0
pylibcugraph-cu11==22.10.0
pylibraft-cu11==22.10.0
PyMeeus==0.5.11
pynndescent==0.5.8
pynvml==11.4.1
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.0
pysam==0.19.1
pysimdjson==3.2.0
pystan==3.5.0
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.8.2
python-slugify==7.0.0
python-utils==3.4.5
pytorch-lightning==1.5.10
pytorch-tabnet==4.0
pytz==2022.6
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.1.1
QtPy==1.11.2
querystring-parser==1.2.4
raft-dask-cu11==22.10.0
ray==2.1.0
rdkit-pypi==2022.9.2
requests==2.28.1
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rmm-cu11==22.10.0
rsa==4.7.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
s-gd2==1.8.1
scanpy==1.9.1
scikit-learn==1.1.3
scikit-misc==0.1.4
scipy==1.9.3
scOpen @ git+https://github.com/CostaLab/scopen@6be56fac6470e5b6ecdc5a2def25eb60ed6a1bcc
scprep==1.2.1
scvelo==0.2.4
seaborn==0.11.1
Send2Trash==1.8.0
sentence-transformers==2.2.2
session-info==1.0.0
setuptools-git==1.2
setuptools-scm==7.0.5
simpful==2.9.0
simplejson==3.18.0
six==1.14.0
sklearn==0.0.post1
smart-open==6.3.0
smmap==5.0.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
Sphinx==6.0.0b2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.13
sqlparse==0.4.3
ssh-import-id==5.10
statsmodels==0.13.5
stdlib-list==0.8.0
stevedore==4.1.1
sweetviz==2.1.4
swifter==1.3.2
sympy==1.11.1
tables==3.7.0
tabulate==0.9.0
tasklogger==1.2.0
tbb==2021.7.0
tblib==1.7.0
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.21.0
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
texttable==1.6.4
threadpoolctl==3.1.0
tomli==2.0.1
toolz==0.12.0
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchmetrics==0.10.3
torchvision==0.13.1+cu113
tornado==6.1
tqdm==4.64.1
traitlets==5.1.1
transformers==4.16.2
treelite==3.0.0
treelite-runtime==3.0.0
typer==0.7.0
typing_extensions==4.4.0
ucx-py-cu11==0.28.0
umap-learn==0.5.3
urllib3==1.26.13
virtualenv==20.17.1
wcwidth==0.2.5
webargs==8.2.0
webencodings==0.5.1
websocket-client==1.4.2
Werkzeug==2.2.2
widgetsnbextension==3.5.2
wrapt==1.13.3
xgboost==1.7.1
yarl==1.8.1
zict==2.2.0
zipp==3.6.0
